# Dependencias
node_modules/
*/node_modules/

# Build outputs
dist/
build/
*/dist/
*/build/

# Variables de entorno
.env
*/.env

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Vite
frontend/.vite/
